# Python specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
lib/
lib64/
include/
bin/
share/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
*.egg-info/
.installed.cfg
*.egg

# AWS specific ignores
.aws/
.terraform/
*.zip
*.pem
*.key
credentials
config
.env
